@import "../../styles/globals.scss";

.CustomButton {
  width: 100px;
  height: 60px;
  margin: 10px 20px;
  background-color: $g-main-color;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
